*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow-x:hidden;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, red, yellow);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* section 1 styling */
header{
    background-color: #FEFBF5;
}

.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.space-set{
    margin-top: -160px;
}

::placeholder{
    color: #787171;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 20px;
}

.img-set{
    margin-top: 20px;
}

.li-set{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #F8574E;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-right: 120px;
}

.technique{
    font-family:'Recoleta-Bold', "Cooper Black", serif;
    line-height: 88px;
    font-size: 80px;
    color: #F8574E;
}

.learn{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 33px;
    color: #534D4C;
    width: 98%;
    padding-top: 20px;
    padding-bottom: 25px;
}

.input-1{
    background-color: white;
    border-color:  #F8574E;
    border-radius: 9px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-right: 110px;
}

.button-1{
    border-radius: 9px;
    padding: 16px;
    font-family:'Recoleta-Bold', "Cooper Black", serif;
    font-weight: 700;
    font-size: 23px;
    font-style: normal;
    line-height: 34px;
    background-color: #F8574E;
    color: white;
    border: none;
}

.button-1:hover{
    background-color: red;
}

.subscribing{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    line-height: 17px;
    color: black;
    padding-top: 7px;
}

/* section 1 styling ends */

li{
    padding: 0 30px;
    list-style: none;
}

.section-1set{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 300px;
}

/* section 2 styling starts */

.section-2color{
    background-color: #F8574E;
}

.feature{
    font-family:'Recoleta-Bold', "Cooper Black", serif;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    line-height: 75px;
    color: #FEFBF5;
    margin-left: 371px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.three-box{
    display: flex;
    justify-content: center;
}

.box-1{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #FEFBF5;
    margin-left: 20px;
    border-radius: 15px;
}

.css-grid{
    font-family:'Recoleta-Bold', "Cooper Black", serif;
    color: #F8574E;
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    padding-top: 20px;
    padding-bottom: 13px;
    padding-left: 30px;
    padding-right: 55px;
}

.grid-h4{
    font-family:'Poppins', sans-serif;
    color:#534D4C;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 30px;
    width: 325px;
}

.set-featuring{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 15px;
}

.featuring{
    font-family:'Poppins', sans-serif;
    color:#44403c;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    padding-left: 30px;
}

.article{
    font-family:'Poppins', sans-serif;
    color:#44403c;
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    text-align: end;
    padding-bottom: 10px;
    margin-left: 115px;
}

.arrow{
    padding-right: 20px;
}

.picture{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.view{
    text-align: end;
    font-family: 'Poppins',sans-serif;
    color: #FEFBF5;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;   
}

.view-set{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top: 35px;
    padding-bottom: 100px;
    padding-right: 350px;
}

/* section 2 styling ends */

/* section 3 styling starts */

.section-3color{
    background-color: #164993;
}

.recent-a{
    color: #F9CB25;
    font-family:'Recoleta-Bold', "Cooper Black", serif;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;
    line-height: 75px;
    margin-left: 371px;
    padding-top: 70px;
    padding-bottom: 40px;
}

.six-box{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* section 3 styling ends */

/* section 4 styling starts */

.section-4color{
    background-color: #FEFBF5;
    display: flex;
    justify-content: center;
}

.color-div{
    background-color: #C9ECE4;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding-left: 180px;
    margin-top: 22px;
    margin-bottom: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px;
}

.mail-box{
    width: 30%;
    padding-bottom: 60px;
    padding-top: 60px;
}

.mail-h1{
    font-family:'Recoleta-Bold', "Cooper Black", serif;
    font-weight: 400;
    font-size: 45px;
    font-style: normal;
    line-height: 56px;
    color: #164993;
    width: 75%;
    padding-top: 60px;
}

.mail-h4{
    font-family:'Poppins', sans-serif;
    color:#534D4C;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 60%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.set-mail{
    padding: 40px;
}

/* section 4 styling ends */

/* section 5 styling starts */

.section-5color{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 25px;
    padding-top: 25px;
}

.set{
    display: flex;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    font-family: 'Poppins',sans-serif;
    align-items: center;
    color: #164993;
}

/* section 5 styling ends */

/* foteer styling starts */
.footer{
    background-color: #164993;
    padding-bottom: 25px;
    padding-top: 25px;
}

.last-text{
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #e7e5e4;
    margin-left: 300px;
}

/* footer styling ends */

/* For Mobile Devices */

/* min-width = minimum width */
/* max-width = maximum width */

@media screen and (max-width:767px) {
    .section-1set {
        display: flex;
        flex-direction: column;
    }
    .three-box {
        display: flex;
        flex-direction:column;
    }
    .box-1{
        width:100%;
    }
}
